.ft_pink {
  color: #FF79A5;
}

.ft_blue {
  color: #43CDF2;
}

.mainarea {
  margin-top: 40px;
}

.mainarea section {
  margin-bottom: 40px;
  position: relative;
}

.mainarea section svg {
  position: absolute;
  top: -5px;
  left: 5px;
  width: 50px;
  height: 50px;
}

.mainarea section h2 {
  color: #75889B;
  font-size: 1.6em;
  padding-left: 60px;
}

.mainarea section .pct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainarea section .pct div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mainarea section .pct .partlft .Ppct {
  height: 12px;
  margin: 10px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#EFEFEF), to(#EFEFBB));
  background: linear-gradient(to right, #EFEFEF, #EFEFBB);
  border-radius: 50px 0 0 50px;
}

.mainarea section .pct .partlft .Ppct span {
  font-size: 0;
  background: -webkit-gradient(linear, left top, right top, from(#EC008C), to(#FC6767));
  background: linear-gradient(to right, #EC008C, #FC6767);
  border-radius: 50px 0 0 50px;
  height: 12px;
  display: block;
}

.mainarea section .pct .partlft .normal {
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
  padding: 5px 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), to(#FFDFEF));
  background: linear-gradient(to right, #fff 30%, #FFDFEF);
}

.mainarea section .pct .partrgt .UFpct {
  height: 12px;
  margin: 10px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#EFEFBB), to(#EFEFEF));
  background: linear-gradient(to right, #EFEFBB, #EFEFEF);
  border-radius: 0 50px 50px 0;
}

.mainarea section .pct .partrgt .UFpct span {
  font-size: 0;
  background: -webkit-gradient(linear, left top, right top, from(#00F5A0), to(#00D9F5));
  background: linear-gradient(to right, #00F5A0, #00D9F5);
  border-radius: 0 50px 50px 0;
  height: 12px;
  display: block;
}

.mainarea section .pct .partrgt .normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainarea section .pct .partrgt .normal p {
  width: 70%;
  font-size: 1.4em;
  font-weight: bold;
  text-align: left;
  padding: 5px 10px;
  background: -webkit-gradient(linear, left top, right top, from(#FDFFAA), to(#fff));
  background: linear-gradient(to right, #FDFFAA, #fff);
}

.mainarea section .pct .partrgt .normal a.more {
  padding-top: 5px;
  display: block;
  overflow: hidden;
}

.mainarea section .pct .partrgt .normal a.more button {
  font-size: 0;
  background: url(../images/btn_more.svg) no-repeat right;
  height: 15px;
  width: 30px;
  background-size: cover;
}

.mainarea .fltlyr {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 -5%;
  top: 0;
  height: 100%;
  z-index: 1;
}

.mainarea .fltlyr .description {
  position: relative;
  margin: 50% 10% 0 5%;
  background: white;
  border-radius: 6px;
  padding: 60px 30px;
}

.mainarea .fltlyr .description svg {
  position: absolute;
  top: 55px;
  left: 25px;
  width: 50px;
  height: 50px;
}

.mainarea .fltlyr .description h2 {
  color: #212C4F;
}

.mainarea .fltlyr .description .subcontents {
  margin-top: 20px;
  line-height: 1.4em;
}
/*# sourceMappingURL=pctlst.css.map */