.light-bg {
  background: #eae8e8;
}

.relative {
  position: relative;
}

.large-watermark {
  position: absolute;
  font-size: 12em;
  white-space: nowrap;
  font-family: 'Times New Roman', Times, serif;
  opacity: .7;
}

.dark-bg {
  background: #2e2727;

  h2 {
    color: #fff;
  }

  a {
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

.darker-bg {
  background: #201919;

  a {
    color: #fff;
  }
}